<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#">
                    <span data-feather="home"></span>
                    Dashboard <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Shop9</span>
            <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
            </a>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="/shop">
                    <span data-feather="file"></span>
                    Produtos OFF
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/shop/auth">
                    <span data-feather="file"></span>
                    Gerar token
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/shop/publicaNovosProdutos">
                    <span data-feather="file"></span>
                    Publica Novos Produtos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/shop/loadProdutos">
                    <span data-feather="file"></span>
                    Carregar Produtos Shop9
                </a>
            </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>WooCommerce</span>
            <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
            </a>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="/woo">
                    <span data-feather="file"></span>
                    Produtos OFF
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/woo/pedidos">
                    <span data-feather="file"></span>
                    Pedidos OFF
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/woo/getProdutos">
                    <span data-feather="file"></span>
                    Carregar Produtos Publicados
                </a>
            </li>
        </ul>
    </div>
</nav>